<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Ouvrir une session à l'aide de Google login">
        <meta name="keywords" content="login, création de compte, base de données, INF5190">
        <meta name="author" content="Aaron Osorio Arancibia">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
    <header class="header">
        <a class="logo" href="/">Google fun</a>
        <nav>
            <input type="checkbox" id="show-menu-input-checkbox" role="button" aria-pressed="true">
            <label for="show-menu-input-checkbox" id="main-menu-toggler" class="flex-container flex-vcenter flex-hcenter">
                <span id="main-menu-toggler-icon" class="flex-grow"></span>
            </label>
            <ul class="main-menu accordion" id="main-menu">
                {% if session['profile'] %}
                    <li><a href="/logout">Se déconnecter</a></li>
                {% else %}
                    <li><a href="/login">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    </body>
</html>