@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html, body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #e6e8f0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

input[type="text"] {
    width: 275px;
    padding: 10px;
    margin: 8px 0;
    border: solid 1px #eee1ec8f;
    border-radius: 12px;
    background-color: #ffffff;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    height: 45px;
}

input[type="text"]:focus {
    border-color: #009688;
}

input[type="submit"] {
     width: 250px;
     height: 60px;
     border-radius: 12px;
     box-shadow: 0px 20px 10px 1px #b292db1c;
     outline: none;
     box-sizing: border-box;
     background: #b292db;
     color: #fff;
     font-size: 15px;
     border-style: none;
     margin-top: 15px;
     border: solid 1px #9e81c28f;
}

input[type="text"]::placeholder {
    color: #888;
    font-style: italic;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    flex-direction: column;
}

.login-container {
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 13px 0px #0000001f;
    border: 1px solid #e7e7e7;
    padding: 10px;
    background: hsla(193, 84%, 68%, 1);
    background: linear-gradient(90deg, hsla(193, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(193, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
    background: -webkit-linear-gradient(204deg, hsl(193deg 63.09% 82.67%) 0%, hsl(343deg 34.41% 82.9%) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#68D4F2", endColorstr="#ff5282", GradientType=1 );
    display: flex;
}

.panel-left, .panel-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-left {
    width: 50%;
    display: flex;
    overflow: hidden;
    justify-content: stretch;
    align-items: stretch;
}

.panel-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 15px;
}

.image-container{
    flex-direction: column;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
}

.image-container img {
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    border-radius: 25px;
}
h2{
    font-size: 33px;
    color: #294e95;
    margin: 0;
}
h5{
    text-align: center;
    margin: 0;
    padding: 0;
    color: #002468;
}
.login-welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    align-items: center;
}
.login-item-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    justify-content: stretch;
    align-items: center;
    width: 100%;
}
.login-connection-container{
    justify-content: flex-end;
    align-items: center;
    color: #1c90f7;
    font-weight: 500;
    display: flex;
    width: 100%;
    font-size: 13px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.login-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 15px;
}
.login-social-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.login-social-item{
    display: flex;
    margin: 5px;
    padding: 3px;
}
.login-social-item img{
    width: 30px;
}
.texte-entoure {
  display: flex;
  align-items: center;
  text-align: center;
  color: #294e95;
}

.texte-entoure::before,
.texte-entoure::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #294e95;
  margin: 0 20px;
}
.login-social-icons-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}