<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex box</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <div class="panel-left">
                <div class="image-container">
                    <img src="/static/images/welcome-image.jpg">
                </div>
            </div>

            <div class="panel-right">

            </div>

        </div>
    </div>
</body>
</html>