<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex box</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <div class="login-welcome-container">
                <div class="login-item-container">
                    <div class="login-connection-container">
                        Not registred?
                    </div>
                </div>
                <div class="login-item-container">
                    <h2>Welcome, again!</h2>
                </div>
                <div class="login-item-container">
                    <h5>It's good to see you again</h5>
                </div>
            </div>
            <div class="login-form-container">
                <div class="login-item-container">
                    <input type="text" placeholder="Your username">
                </div>
                <div class="login-item-container">
                     <input type="text" placeholder="Your password">
                </div>
                <div class="login-item-container">
                    <input type="submit" value="Login!">
                </div>
            </div>
            <div class="login-social-container">
                <div class="texte-entoure">or</div>
                <div class="login-item-container">

                </div>
                <div class="login-social-icons-container">
                    <div class="login-social-item">
                        <img src="/static/images/facebook.png">
                    </div>
                    <div class="login-social-item">
                        <img src="/static/images/google.png">
                    </div>
                    <div class="login-social-item">
                        <img src="/static/images/twitter.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>